a.elementor-button {
    background-color: $blue;
    font-family: $abrade;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1, h2, h3, h4, h5, h6, p, a {
    span {
        font-size: 1.2em !important;
    }
}

h1, h2, h3, h4, h5, h6, p, a {
    sup {
        font-size: 0.5em !important;
    }
}


.garamond {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond !important;
    }
}

.garamond-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-i !important;
    }
}

.garamond-ligth {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-ligth !important;
    }
}

.garamond-ligth-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-ligth-i !important;
    }
}

.garamond-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-bold !important;
    }
}

.garamond-bold-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-bold-i !important;
    }
}

.abrade {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade !important;
    }
}

.abrade-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-i !important;
    }
}

.abrade-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-light !important;
    }
}

.abrade-light-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-light-i !important;
    }
}

.abrade-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-bold !important;
    }
}

.abrade-bold-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-bold-i !important;
    }
}

.abrade-black {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-black !important;
    }
}

.abrade-black-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $abrade-black-i !important;
    }
}